@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100&family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@keyframes example {
    0%   {background-image:  linear-gradient(90deg,#41295a,#2F0743);}
    5%  {background-image:  linear-gradient(110deg,#41295a,#2F0743);}
    10%  {background-image: linear-gradient(130deg,#41295a,#2F0743);}
    15%  {background-image: linear-gradient(150deg,#41295a,#2F0743);}
    20%  {background-image: linear-gradient(170deg,#41295a,#2F0743);}
    25%  {background-image: linear-gradient(190deg,#41295a,#2F0743);}
    30%  {background-image: linear-gradient(210deg,#41295a,#2F0743);}
    35%  {background-image: linear-gradient(230deg,#41295a,#2F0743);}
    40%  {background-image: linear-gradient(250deg,#41295a,#2F0743);}
    45%  {background-image: linear-gradient(270deg,#41295a,#2F0743);}
    50%  {background-image: linear-gradient(290deg,#41295a,#2F0743);}
    55%  {background-image: linear-gradient(310deg,#41295a,#2F0743);}
    60%  {background-image: linear-gradient(330deg,#41295a,#2F0743);}
    65%  {background-image: linear-gradient(350deg,#41295a,#2F0743);}
    70% {background-image:  linear-gradient(370deg,#41295a,#2F0743);}
    75%  {background-image: linear-gradient(390deg,#41295a,#2F0743);}
    80% {background-image:  linear-gradient(410deg,#41295a,#2F0743);}
    85%  {background-image: linear-gradient(420deg,#41295a,#2F0743);}
    90% {background-image:  linear-gradient(430deg,#41295a,#2F0743);}
    95%  {background-image: linear-gradient(440deg,#41295a,#2F0743);}
    100%  {background-image:linear-gradient(450deg,#41295a,#2F0743);}
    
}

.lyricbody{
    background-image: linear-gradient(90deg,#00c6ff,#0072ff);
    height: auto;
    width:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.welcomeDiv{
    margin-top:150px;
    text-align: center;
    margin-bottom: 150px;
    color:#fff;
    font-family: Georgia, serif
}

.welcomeDiv h1{
    font-size: 50px;
}

.fhclive{
    font-size: 75px;
}



.titles{
    width: 60%;
    margin: auto;
    height:auto;
    padding-top: 50px;
    box-shadow: 1px 1px 30px 1px #727171;
    border-radius: 1px;
    /*background-image: url("./images/lyricBag.png");
    background-repeat: repeat-y;
    background-position: right;
    background-clip: border-box;
    */
    background-color: white;
    border-radius: 13px;
    padding-bottom: 50px;
}

.title{
    width:90%;
    margin:auto;
    background-image: linear-gradient(45deg,#00c6ff,#0072ff);
    margin-bottom: 10px;
    text-align: center;
    padding:7px;
    border-radius: 7px;
    font-size: 25px;
    font-family: 'Girassol', cursive;
    animation-name: exampl;
    animation-duration: 1s;
    -moz-animation-timing-function: initial;
    animation-iteration-count: infinite;
   /* box-shadow: 1px 1px 10px 1px rgb(57, 78, 117);*/
}

.titleWrap{
    padding: 0px 0px;
    padding-top: 100px;
}

.teluguTitle{
    font-family: "Dhurjati"; 
    font-size: "40px" 
}
.titleLink{
    color: #fff;
    font-size: 25px;
}

.titleAlpha{
    width:90%;
    margin:auto;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Girassol', cursive;
}

.lyricNav{
    width: 80%;
    margin: auto;
}

.titleAlphaM{
    position: relative;
    float:left;
    margin:5px;
    font-size: 25px;
    font-family: 'Girassol', cursive;
}


.lyricpage{
    height: auto;
    width:100%;
    padding-top: 70px;
    background-image: linear-gradient(45deg,#780206,#061161);
    padding-bottom: 50px;

}
.lyricTitle{
    font-family: "Dhurjati";
    font-size: 55px; 
    margin-bottom:30px;
}
.lyricDiv{
    background-color: white;
    width:60%;
    margin-left:25px;
    padding:30px;
    margin-top: 0px;

    box-shadow: 0px 0px 13px 1px #FFF;
    font-size: 20px;
    border-radius: 2px;
}

.lyricData{
    margin-bottom: 50px;
}

.tools{
    height: auto;
    padding:25px;
    background-color: #fff;
    width: 25%;
    margin:auto;
    margin-top: 173px;
    margin-right: 20px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    box-shadow: 1px 1px 13px 1px #808080;
    text-align: center;
}

.back{
    font-family: 'Patua One', cursive;
    margin-left:25px;
    font-size: 25;
    color: #fff;
    width: 65px;
    padding:2px;
    padding-left: 0px;
    border-radius: 5px;
    background-color: rgb(26, 1, 1);
    border: none;
    box-shadow: 1px 1px 5px 1px #000;
    
}

.lyriclangButton{
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: 0px;
    width: 275px;
    margin-left:30%;
    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 7px;
}

.lyricBox{
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 25px;
    line-height: 1.5;
    font-weight: lighter;
}

.lyricBoxE{
    font-family: 'Georgia', serif;
    font-size: 23px;
    line-height: 1.5;
    font-weight: lighter;
}

@media only screen and (max-width: 992px) {
    .welcomeDiv{
        padding-left: 15px;
        padding-right: 15px
    }
    
    .welcomeDiv h1{
        font-size: 25px;
    }
    
    .fhclive{
        font-size: 50px;
    }

    .titles{
        width:90%
    }
    .title{
        font-size: 20px;
    }
    
    .lyricDiv{
        margin: auto;
        margin-top: 30px;
        width:95%;
        padding:23px;
        
    }

    .lyricDiv h1{
        font-size: 40px;
    }

    .tools{
        height: auto;
        padding:25px;
        background-color: #fff;
        position: unset;
        width: 90%;
        margin:auto;
        margin-top: 60px;
        box-shadow: 1px 1px 13px 1px #808080;
        text-align: center;
    }

    .lyriclangButton{
        background-color: #fff;
        border: 0px;
        width: 265px;
        margin-left:25px;
        margin-top: 50px;
        margin-bottom: 7px;
        box-shadow: 1px 1px 5px 1px #000;
        border-radius: 7px;
    }

    .lyricBox{
        font-size: 23px;
    }
    
    .lyricBoxE{
        font-size: 20px;
    }

}